.blogs__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #000;
}

.blogs__content-link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.blogs__title {
  color: #000;
}
.blogs__description {
  color: #000;
}
.blogs__buttons {
  display: flex;
  gap: 10px;
}
.blogs__btn {
  cursor: pointer;
  padding: 3px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  transition: opacity 0.3s ease-in;
}

.blogs__btn:hover {
  opacity: 0.7;
}
